body, html {
    height: 100vh;

}

* {
    box-sizing: border-box;

}




main {
    display: grid;
    grid-template-rows: 10% 40% 30% 20%;
    width: 100%;
    height: 100%;

}
.top-nav {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    height: 75px;
    align-items: center;

}

div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.middle {
    display: grid;
    justify-content: center;
    grid-template-rows: 20% 80%;
    align-items: center;
    background-image: url("./main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 40px;

}

.search {
    width: 400px;
    padding: 15px;
    border-radius: 4px;;
}

.h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 226, 226);
    text-align: center;

}

.left-op {
    background-color: white;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.mid-op {
    background-color: white;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.right-op {
    background-color: white;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 60px;

}

.button {
    background-color: white;
    border: solid .5px blue;
    width: 150px;
    padding: 5px;
    margin: auto;
    border-radius: 4px;

}


.bottom-nav {
    height: 150px;
    text-align: center;
    margin: 50px;
}


.foot {
    height: 150px;
    text-align: center;
}

