body, html {
    height: 100vh;

}

* {
    box-sizing: border-box;

}




main {
    display: grid;
    grid-template-rows: 10% 40% 30% 20%;
    width: 100%;
    height: 100%;

}
.top-nav {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    height: 75px;
    align-items: center;

}

div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.middle {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 3fr;
    background-image: url("./main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    align-items: center;
    background-size: cover;
    text-align: center;
    color: white;

}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 226, 226);
    height: 200px;
    text-align: center;

}

.left-op {
    background-color: white;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.mid-op {
    background-color: white;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.right-op {
    background-color: white;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid 1px black;

}


.bottom-nav {
    height: 150px;
    text-align: center;
}


.foot {
    height: 150px;
    text-align: center;
}

